.board {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.cell {
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
}

.correct {
  background-color: lightgreen;
}

.almost {
  background-color: lightblue;
}

.wrong {
  background-color: lightgray;
}